@model List<BookstoreApp.Models.Customer>


@{
    ViewBag.Title = "CustomerList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<h2></h2>
<h2>Customers List</h2>

<table class="table">
        <thead>
        <tr>
            <th>Customer Name</th>            
        </tr>
        </thead>
        <tbody>
    
 
        @foreach (var customer in Model)
        {
            <tr>
                @*<td><a href ="/Customers/Details/@customer.Id">@customer.Name</a></td>*@
                <td>@Html.ActionLink(customer.Name, "CustomerList","Customers", new {id = customer.Id}, null)</td>
            </tr>
        }
        </tbody>
    </table>
    


